{% extends 'smartmovers/base.html'%}
<html>
{% block content%}
<div class="container">
    <div class="container">
        <a href="{% url 'movers'%}">Home</a>
    </div>
    <div class="row">
        <div class="col-md-7 container">
            <img class="rounded" src="{{post.image.url}}" style="height:450px" width="100%" alt="">
        </div>
        <div class="col-md-4 container-fluid">
            <div class="card text-center p-2  rounded shadow m-3">
                <P>{{post.name|title}}</P>
                <p>Availability Status:{{post.availability}}</p>
                <p>Location: {{post.location}}</p>
                <div class="row">
                    <div class="col-md-5 m-2">
                        <button class="btn btn-primary">{{post.phone}}</button>
                    </div>
                    <div class="col-md-5 m-2">
                        <button class="btn btn-success">Call Mover</button>
                    </div>
                </div>
            </div>
            <div class="card text-justify p-2  rounded shadow m-3">
                <p>Desc: {{post.description}}</p>

                <p>Lowest Price: {{post.least_price}}</p>

            </div>
            <div class="card text-justify p-2 m-2 rounded shadow m-3">
                <p>Share this contact on social media</p>
                <button class="btn btn-info m-1">facebook</button>

            </div>
            {% if post.author == user %}
            <div class="container m-3 p-3">
                <a href="{% url 'update' post.id %}" class="btn btn-primary m-2">Update</a>
                <a href="{% url 'delete' post.id %}" class="btn btn-danger m-2">Delete</a>
            </div>
            {% endif%}
        </div>
        <div>


        </div>
    </div>
    <div class=" bg-white col-md-10 shadow-lg rounded container-fluid ">
        <h5 class="text-center m-3 p-2"> Feedback about <a href="">{{post.name}}</a></h5>
        <a href=" {% url 'rate' post.id%}" class="btn btn-info p-2 m-2 text-center">
            Leave feedback 
        </a>
        <p>Rating: {{ratings_avg }}/5</p>
        {% for rating in post.rating.all reversed%}
        <p>

            <span>
                 <img class="rounded-circle profile-pic " style="width: 30px;height:30px;" src="{{ rating.user.profile.image.url}} " alt=" ">
             </span>
            <span class=font-weight-bold>
             {{rating.user}} </span>
            <div class=" container text-justify m-2 p-2">
                {{rating.comment|title}} <br> {{rating.rate}}/5
            </div>
        </p>

        {% empty%}
        <div class="text-center m-2 p-2">
            <p>No ratings for this Mover's page Yet !!!.</p>

        </div>
        {% endfor%}
    </div>
</div>
{% endblock content%}

</html>
