{% extends 'smartmovers/base.html'%} {% load social_share %}
<html>
{% block content%}
<div class="container">
    <div class="container">
        <a href="{% url 'movers'%}" class="nav-link"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>
             Home</a>
    </div>
    <div class="row">
        <div class="col-md-7 container">
            <img class="rounded" src="{{post.image.url}}" style="height:450px" width="100%" alt="">
        </div>
        <div class="col-md-4 container-fluid">
            <div class="card text-justify p-2  rounded shadow m-3">
                <P>
                    <span class="badge badge-pill p-2 badge-success ">Mover Name</span> {{post.name|title}}</P>
                <p> <span class="badge badge-pill badge-primary p-2">Availability Status</span> {{post.availability}}</p>
                <p><span class="badge badge-pill badge-secondary  p-2">Location</span> {{post.location|title}}</p>
                <div class="row">
                    <div class="col-md-5 m-1">
                        <button class="btn btn-outline-primary">+254{{post.phone}}</button>
                    </div>
                    <div class="col-md-5 m-1">
                        <button class="btn btn-success">sms mover</button>
                    </div>
                </div>
            </div>
            <div class="card text-justify p-2  rounded shadow m-3">
                <p><span class="badge badge-pill badge-info  p-2">Description </span> {{post.description}}</p>

                <p>Least Price: {{post.least_price}}</p>

            </div>
            <div class="card text-justify p-2 m-2 rounded shadow m-3">
                <p>Share this contact on social media</p>
                <button class="btn btn-outline-success m-1 nav-link text-light">
                    {% post_to_whatsapp object_or_url "Share To Whatsapp" %}
                </button>
                <button class="btn btn-outline-info m-1 nav-link text-light">
                    {% post_to_facebook object_or_url "Share To Facebook" %}
                </button>
            </div>
            {% if post.author == user %}
            <div class="container m-3 p-3">
                <a href="{% url 'update' post.id %}" class="btn btn-primary m-2">Update</a>
                <a href="{% url 'delete' post.id %}" class="btn btn-danger m-2">Delete</a>
            </div>
            {% endif%}
        </div>

    </div>
    <div class=" bg-white col-md-10 shadow-lg rounded p-2 container-fluid feedback ">
        <h5 class="text-center m-3 p-2"> Feedback about <a href="">{{post.name}}</a></h5>
        <a href=" {% url 'rate' post.id%}" class="btn btn-info p-2 m-2 text-center">
            Leave feedback
        </a>
        <div class="p-2 m-2">
            <p>Rated: {{average_ratings.rate__avg|floatformat}}/5</p>
            <p>{{total_ratings}} Reviews</p>
        </div>
        {% for rating in post.rating.all reversed%}
        <div class="row ml-2">
            <div class="container m-2 ml-3 p-2   col-md-8 mr-2 rounded bg-light shadow text-dark">
                <p>
                    <span>
                 <img class="rounded-circle profile-pic " style="width: 30px;height:30px;" src="{{ rating.user.profile.image.url}} " alt=" ">
             </span>
                    <span class=font-weight-bold>
             {{rating.user}} </span>
                    <span class="ml-5"><i class="fa fa-comments" aria-hidden="true"></i>
                    </span>
                    <div class=" container text-justify ">
                        {{rating.comment|title}} <br>Rated : {{rating.rate}}/5
                    </div>
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
        {% empty%}
        <div class="text-center m-2 p-2">
            <p>No ratings for this Mover's page Yet !!!.</p>

        </div>
        {% endfor%}
    </div>
</div>
</div>
{% endblock content%}

</html>