{% extends 'smartmovers/base.html'%} {% load crispy_forms_tags%}
<html>
{% block content%}
<div class="search container">
    <div class="row">
        <form class="form-inline my-2 my-lg-0" method="GET">
            {{myFilter.form|crispy}}

            <button type="submit" class="btn btn-info">search</button>
        </form>
    </div>
</div>

</div>
{% for post in posts reversed%}
<div class="container shadow-lg m-5 rounded row">
    <div class="col-md-5">
        <div class=""> <img class="post-image rounded" src="{{post.image.url}}" alt=""></div>
    </div>
    <div class="col-md-6 m-2 p-3 text-justify">
        <ul>
            <a href="{% url 'detail' post.id%}">
                <li> Name :{{post.name}}</li>
            </a>
            <li>Location : {{post.location}}</li>
            <li>Mobile No : {{post.phone}}</li>
            <li> Availability Status : {{post.availability}}</li>
            <li> Vehicle type: {{post.vehicle_type}}</li>
        </ul>
    </div>
</div>
{% empty%}
<div class="text-center bg-white shadow-lg  rounded p-3 ml-4 container">
    <h4 class="text-danger">Sorry. No result found for your Search !!!</h4>
</div>
{% endfor %}
</div>

{% endblock content%}

</html>