{% extends 'smartmovers/base.html'%} {% load crispy_forms_tags%}
<html>
{% block content%}
<div class="search container">
    <div class="row">
        <form class="form-inline my-2 my-lg-0 p-2 m-2" method="GET">
            {{myFilter.form|crispy}}

            <button type="submit" class="btn btn-info m-2">search</button>
        </form>
    </div>
</div>

</div>
{% for post in posts reversed%}
<div class="container shadow-lg m-5 rounded row">
    <div class="col-md-5">
        <div class=""> <img class="post-image rounded" src="{{post.image.url}}" alt=""></div>
    </div>
    <div class="col-md-6 m-2 p-3 text-justify">

        <a href="{% url 'detail' post.id%} " class="nav-link">
            <li class="nav-link"><i class="fa fa-user" aria-hidden="true"></i> Name :{{post.name|title}}</li>
        </a>
        <li class="nav-link p-2 m-2"><i class="fa fa-map-marker" aria-hidden="true"></i> Location : {{post.location}}</li>

        <li class="nav-link p-2 m-2"><i class="fa fa-mobile" aria-hidden="true"></i> Availability Status : {{post.availability}}</li>
        <li class="nav-link p-2 m-2"> <i class="fa fa-truck" aria-hidden="true"></i> Vehicle type: {{post.vehicle_type}}</li>

    </div>

</div>
{% empty%}
<div class="text-center bg-white shadow-lg  rounded p-3 ml-4 container">
    <h4 class="text-danger">Sorry. No result found for your Search !!!</h4>
</div>
{% endfor %}
</div>
{% endblock content%}

</html>