{% extends 'smartmovers/base.html' %} {% load crispy_forms_tags%} {% block content %}
<div class="container">

        <div class="col-md-10 bg-white text-center >
            <div class="card p-2 text-center">
                <h4 class="mt-3">CREATE A POST</h4>
                <form action="" method="post">
                      {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      {{form.name|as_crispy_field}}
                    </div>
                    <div class="col-md-5">
                      {{form.location|as_crispy_field}}
                    </div>
                    <div class="col-md-4">
                      {{form.vehicle_type|as_crispy_field}}
                    </div>
                    <div class="col-md-3">
                      {{form.least_price|as_crispy_field}}
                    </div>
                    <div class="col-md-4">
                      {{form.phone|as_crispy_field}}
                    </div>
                    <div class="col-md-4">
                      {{form.image|as_crispy_field}}
                    </div>
                    <div class="col-md-4">
                      {{form.availability|as_crispy_field}}
                    </div>
                    <div class="col-md-11">
                      {{form.description|as_crispy_field}}
                    </div>
                  </div>
                    <button type="submit" class="btn text-center btn-info">save</button>
                </form>
            </div>
    </div>
    </div {% endblock content %}
