africastalking==1.2.4
appdirs==1.4.3
asgiref==3.4.1
astroid==2.4.1
certifi==2019.11.28
cffi==1.14.6
chardet==3.0.4
colorama==0.4.3
contextlib2==21.6.0
cryptography==3.4.7
defusedxml==0.7.1
distlib==0.3.0
dj-database-url==0.5.0
Django==3.2.6
django-allauth==0.45.0
django-bootstrap-form==3.4
django-braces==1.14.0
django-ckeditor==6.0.0
django-crispy-forms==1.9.1
django-debug-toolbar==3.2.1
django-filter==2.2.0
django-google-maps==0.12.4
django-js-asset==1.2.2
django-model-utils==4.1.1
django-social-share==2.2.1
django-star-ratings==0.9.1
django-summernote==0.8.11.6
filelock==3.0.12
gunicorn==19.9.0
idna==2.9
inflection==0.3.1
isort==4.3.21
joblib==0.14.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.2.0
mysqlclient==1.4.6
numpy==1.18.2
oauthlib==3.1.1
pandas==1.0.3
pbr==5.4.4
php==1.2.0
Pillow==8.3.1
pycparser==2.20
PyJWT==1.7.1
pylint==2.5.2
python-dateutil==2.8.1
python-decouple==3.4
python3-openid==3.2.0
pytz==2019.2
Quandl==3.5.0
requests==2.23.0
requests-oauthlib==1.3.0
schema==0.7.4
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
sqlparse==0.3.0
stevedore==1.32.0
swapper==1.1.2.post1
toml==0.10.1
twilio==6.63.0
urllib3==1.25.8
virtualenv==20.0.10
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
whitenoise==4.1.2
wrapt==1.12.1
